<%- include('partials/header') %>
    <main>
        <h1>
            <%= title %>
        </h1>
        <p>Here are our partner organizations:</p>
        <p><a class="action-link" href="/new-organization">Add a New Organization</a></p>
        <ul class="organization-list">
            <% organizations.forEach(org=> { %>
                <li class="organization-item">
                    <img src="/images/<%= org.logo_filename %>" alt="<%= org.name %> logo" width="100">
                    <h2><a href="/organization/<%= org.organization_id %>"><%= org.name %></a></h2>
                    <p><a href="mailto:<%= org.contact_email %>"><%= org.contact_email %></a></p>
                    <p><%= org.description %></p>
                </li>
                <% }) %>
        </ul>
    </main>
<%- include('partials/footer') %>
